.container {
  display: block;
  width: 600px;
  padding: 20px 60px 20px 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(180, 223, 247, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: black;
  margin-top: 40px;
}

.label {
  display: inline-block;
  /* margin-bottom: 10px; */
}

.input {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgba(110, 198, 245, 0.989);
}
.message {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

.btn {
  display: block;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(110, 198, 245, 0.989);
}
.btn :hover,
.btn :focus {
  background-color: white;
}
