.container {
  display: flex;
  justify-content: space-around;
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.11;
  color: black;
}
.link {
  color: rgba(110, 198, 245, 0.989);
}

.active_link {
  background-color: rgba(110, 198, 245, 0.989);
  color: white;
}
a,
link {
  text-decoration: none;
}
